[Desktop Entry]
Name=JudoInfo
Comment=Show next matches
Exec=judoinfo
Icon=judoinfo
Terminal=false
Type=Application
Categories=Utility;Sports;
StartupNotify=true
