[Desktop Entry]
Name=JudoTimer
Comment=Run judo contest
Exec=judotimer
Icon=judotimer
Terminal=false
Type=Application
Categories=Utility;Sports;
StartupNotify=true
