[Desktop Entry]
Name=JudoProxy
Comment=Connects networks
Exec=judoproxy
Icon=judoproxy.png
Terminal=false
Type=Application
Categories=Utility;Sports;
StartupNotify=true
