[Desktop Entry]
Name=JudoJudogi
Comment=Remote judogi control
Exec=judojudogi
Icon=judojudogi
Terminal=false
Type=Application
Categories=Utility;Sports;
StartupNotify=true
