[Desktop Entry]
Name=JudoShiai
Comment=Create and run judo tournaments
Exec=judoshiai %f
Icon=judoshiai
Terminal=false
Type=Application
Categories=Utility;Sports;
StartupNotify=true
MimeType=application/judoshiai;
